$QL_green:  #6ba02e;
$QL_topaz:  #1f81be;
$QL_navy:   #0b456a;
$QL_orange: #ff7800;
$QL_red:    #b4131b;
$QL_purple: #561387;
$QL_gray:   #444;

$unit: 4ex;

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: #444;
}

body {
  font-family: Arial, sans-serif;
  padding: 0 1ex;
}

h1 a {
  color: inherit;
  font-weight: 100;
  text-decoration: none;
}

p {
  margin: 4ex 0;
  text-indent: 4ex;
}

.width-container {
  margin: 0 auto;
  padding: 0;
}

@media (min-width: 900px) {
  header h1 {
    margin: 0 0 4ex;
  }

  .width-container {
    max-width: 50em;
  }
}

@media (min-width: 1200px) {
  .width-container {
    max-width: 80em;
  }
}
