// ==================================================================
// Global base styles
// ==================================================================

html {
  background-color: $white;
}

body {
  padding: .75em .75em 0;

  @media all and (min-width: 36.3125em) {
    background: linear-gradient($white 0em, $white 29em, $grey-light 29em, $grey-light);
  }

  @media all and (min-width: 54.5em) {
    background: linear-gradient($white 0em, $white 32em, $grey-light 32em, $grey-light);
  }
}

[role="contentinfo"] {
  background-color: $white;
  margin: 0 -.75em;
  padding: 1em;
}
