// ==================================================================
// Project Card Component
// ==================================================================

.c-ProjectCard {
  display: flex;
  flex-direction: column;
  padding: 1.5em 1em 1em;
  background-color: $white;
  box-shadow: 0px 0px 5px 1px rgba(0,0,0,.1);

  // if no grid support center the cards and limit width
  margin: 0 auto;
  max-width: 32em;
}

.c-ProjectCard__header {
  margin-bottom: 1.5em;
}

.c-ProjectCard__heading {
  color: $black;
  text-decoration: none;

  &:hover {
    color: $black;
  }
}

.c-Tag {
  background-color: $grey-light;
  border-radius: 7px;
  padding: 5px 15px;
  text-transform: uppercase;
  font-size: 60%;
}

.c-ProjectCard__body {
  flex-grow: 1;
  margin-bottom: 2em;
}

.c-ProjectCard__footer {
  text-align: center;
  display: flex;
  justify-content: center;
}

// I can't explain these jank selectors in a comment ¯\_(ツ)_/¯
.c-ProjectCard__button {

  &:first-child:nth-last-child(2) {
    margin-right: .5em;
    flex: 1;
    padding-left: 0;
    padding-right: 0;
  }
}

.c-ProjectCard__button + .c-ProjectCard__button {
  flex: 1;
  padding-left: 0;
  padding-right: 0;
}

.u-DisplayNone + .c-ProjectCard__button {
  flex: 0;
  padding-left: 3em;
  padding-right: 3em;
}

.js-Filtered,
.js-NoCardsNotification {
  display: none !important;
}

.js-NoCards ~ .js-NoCardsNotification {
  display: block !important;
}

//
// Project colors
///
[data-lang] {
  border-top-color: $black;
  border-top-width: 30px;
  border-top-style: solid;
}
[data-lang='typescript'] {
  border-top-color: $typescript;
}
[data-lang='shell'] {
  border-top-color: $shell;
}
[data-lang='raml'] {
  border-top-color: $raml;
}
[data-lang='elixir'] {
  border-top-color: $elixir;
}
[data-lang='objective-c'] {
  border-top-color: $objective-c;
}
[data-lang='ruby'] {
  border-top-color: $ruby;
}
[data-lang='brainfuck'] {
  border-top-color: $brainfuck;
}
[data-lang='go'] {
  border-top-color: $go;
}
[data-lang='visual_basic'] {
  border-top-color: $visual_basic;
}
[data-lang='php'] {
  border-top-color: $php;
}
[data-lang='java'] {
  border-top-color: $java;
}
[data-lang='makefile'] {
  border-top-color: $makefile;
}
[data-lang='coffeescript'] {
  border-top-color: $coffeescript;
}
[data-lang='html'] {
  border-top-color: $html;
}
[data-lang='api_blueprint'] {
  border-top-color: $api_blueprint;
}
[data-lang='swift'] {
  border-top-color: $swift;
}
[data-lang='c'] {
  border-top-color: $c;
}
[data-lang='rust'] {
  border-top-color: $rust;
}
[data-lang='elm'] {
  border-top-color: $elm;
}
[data-lang='asp'] {
  border-top-color: $asp;
}
[data-lang='csharp'] {
  border-top-color: $csharp;
}
[data-lang='css'] {
  border-top-color: $css;
}
[data-lang='lolcode'] {
  border-top-color: $lolcode;
}
[data-lang='fsharp'] {
  border-top-color: $fsharp;
}
[data-lang='puppet'] {
  border-top-color: $puppet;
}
[data-lang='javascript'] {
  border-top-color: $javascript;
}
[data-lang='erlang'] {
  border-top-color: $erlang;
}
[data-lang='python'] {
  border-top-color: $python;
}
[data-lang='julia'] {
  border-top-color: $julia;
}
[data-lang='haskell'] {
  border-top-color: $haskell;
}
[data-lang='io'] {
  border-top-color: $io;
}
[data-lang='cpp'] {
  border-top-color: $cpp;
}
