// ==================================================================
// Notification Component
// ==================================================================

.c-Notification {
  background-color: $white;
  border: 3px solid $black;
  padding: 1em;
  margin-bottom: 1em;
  width: 100%;
  text-align: center;
}

.c-Notification--error {
  color: red;
  border: 3px solid $red;
}
