.filters { display: none; }

[for="filter"] {
  font-size: 100%;
  font-weight: 100;
}

input[name="filter"] {
  background: transparent;
  background: rgba(255, 255, 255, 0.3);
  border: 0;
  border-bottom: 1px solid #444;
  border-radius: 3px;
  font-size: 110%;
  padding: 3px 1ex;
  width: 100%;
}

.prefilled-search {
  display: none;
}

.quick-filters {
  display: none;
  float: right;
  list-style-type: none;
}

.quick-filters > li {
  border-top: 3px solid transparent;
  cursor: pointer;
  display: inline-block;
  margin: -1ex 0;
  padding: 1ex;
  position: relative;
}

.quick-filters > li:hover:after {
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #AAA;
  content: '';
  height: 0;
  left: calc(50% - 3px);
  position: absolute;
  top: 0;
  width: 0;
}

@media (min-width: 550px) {
  .filters { display: block; }

  .prefilled-search {
    display: block;
  }
}

@media (min-width: 700px) {
  input[name="filter"] { width: 47%; }
  .quick-filters {
    display: block;
  }
}
