.lang-typescript { border-top: 12px solid #2B7489; }
.lang-shell { border-top: 12px solid #89E051; }
.lang-raml { border-top: 12px solid #77D9FB; }
.lang-elixir { border-top: 12px solid #6E4A7E; }
.lang-objective-c { border-top: 12px solid #438EFF; }
.lang-ruby { border-top: 12px solid #701516; }
.lang-brainfuck { border-top: 12px solid #2F2530; }
.lang-go { border-top: 12px solid #375EAB; }
.lang-visual_basic { border-top: 12px solid #945DB7; }
.lang-php { border-top: 12px solid #4F5D95; }
.lang-java { border-top: 12px solid #B07219; }
.lang-makefile { border-top: 12px solid #427819; }
.lang-coffeescript { border-top: 12px solid #244776; }
.lang-html { border-top: 12px solid #E44B23; }
.lang-api_blueprint { border-top: 12px solid #2ACCA8; }
.lang-swift { border-top: 12px solid #FFAC45; }
.lang-c { border-top: 12px solid #555555; }
.lang-rust { border-top: 12px solid #DEA584; }
.lang-elm { border-top: 12px solid #60B5CC; }
.lang-asp { border-top: 12px solid #6A40FD; }
.lang-csharp { border-top: 12px solid #178600; }
.lang-css { border-top: 12px solid #563D7C; }
.lang-lolcode { border-top: 12px solid #CC9900; }
.lang-fsharp { border-top: 12px solid #B845FC; }
.lang-puppet { border-top: 12px solid #302B6D; }
.lang-javascript { border-top: 12px solid #F1E05A; }
.lang-erlang { border-top: 12px solid #B83998; }
.lang-python { border-top: 12px solid #3572A5; }
.lang-julia { border-top: 12px solid #A270BA; }
.lang-haskell { border-top: 12px solid #29B544; }
.lang-io { border-top: 12px solid #A9188D; }
.lang-cpp { border-top: 12px solid #F34B7D; }
