.hero-title {
  color: #000;
  font-family: monospace;
  font-size: 32px;
  text-align: center;
}

.hero-title em {
  color: $QL_red;
  font-weight: 900;
}

.hero-title span {
  color: $QL_topaz;
}

@media (min-width: 550px) {
  .hero-title {
    font-size: 38px;
    margin: 4ex;
  }
}

@media (min-width: 900px) {
  .hero-title {
    font-size: 48px;
  }
}
