.no-projects { display: none; }
.no-cards-shown .no-projects {
  background: lighten($QL_red, 57%);
  border: 1px solid $QL_red;
  display: block;
  margin: 6ex 0;
  padding: 3ex;
  text-align: center;
  text-indent: initial;
  width: 100%;
}

.project--card {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  margin: 2ex 0;
  padding: 0 2ex;
  padding-bottom: 6ex;
  position: relative;
  transition: 200ms;
}
.project--card.filtered-out { display: none; }

.project--card:hover {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);

  .project--card__banner img {
    border-width: 8px;
    margin: 5px;
  }

  .project--card__link a {
    color: #888;
  }
}

.project--card__banner {
  img {
    border: 3px solid #FFF;
    border-radius: 80px;
    float: right;
    margin: 10px;
    transition: all 100ms, border-color 200ms 200ms;
  }
}

.project--card__keywords {
  display: none;
}

.project--card__link {
  bottom: 0;
  padding: 2ex;
  position: absolute;
  right: 0;

  a {
    color: #ccc;
    transition: 100ms;
  }

  a:hover {
    color: #222;
  }
}

.project--card__title {
  margin: 4ex 0 0;

  a {
    text-decoration: none;
  }
}

.flexbox-support {
  .project--card {
    display: flex;
    flex-direction: column;
  }

  .project--card > * {
    flex: 0 0 0;
  }

  .project--card__link {
    align-self: flex-end;
  }
}

.no-flexbox-support {
  .projects-container {
    @include clearfix;
  }

  .project--card {
    float: left;
  }
}

@media (min-width: 550px) {
  .flexbox-support {
    .projects-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }

  .no-flexbox-support {
    .project--card + .project--card {
      margin-left: $unit / 2;
    }
  }
}

@mixin cardsBreakpoint($cardCount) {
  .flexbox-support {
    .project--card {
      flex: 0 0 unquote("calc(100% / #{$cardCount} - #{$unit} / 2)");
    }
  }

  .no-flexbox-support {
    .project--card {
      width: unquote("calc(100% / #{$cardCount} - #{$unit} / 2)");
    }

    .project--card:nth-of-type(#{$cardCount}n+1) {
      clear: left;
      margin-left: 0;
    }
  }
}

@media (min-width: 550px) and (max-width: 900px) {
  @include cardsBreakpoint(2);
}

@media (min-width: 900px) and (max-width: 1200px) {
  @include cardsBreakpoint(3);
}

@media (min-width: 1200px) {
  @include cardsBreakpoint(4);
}
