.ql-links {
}

.ql-links h2 a {
  color: $QL_red;
  text-decoration: none;
}

.ql-links ul {
  list-style-type: none;
  margin: 1ex;
  text-align: right
}

@media (min-width: 550px) {
  .ql-links {
    align-items: baseline;
    display: flex;
    justify-content: space-between;
  }

  .ql-links a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  .ql-links ul {
    margin: 0;
  }

  .ql-links ul li {
    display: inline;
    font-size: 90%;
  }

  .ql-links ul li:not(:first-child) {
    padding-left: 2ex;
  }
}
