// ==================================================================
// Color variables
// ==================================================================

//
// UI Colors
///
$white: rgb(255,255,255);
$black: rgb(51,51,51);
$grey-light: rgb(230,230,230);
$blue-dark: rgb(42, 103, 172);
$blue: rgb(47,118,197);
$red: rgb(180,32,36);
$red-light: rgb(239,31,38);

//
// Github Colors
///
$typescript: rgb(43, 116, 136);
$shell: rgb(137, 224, 81);
$raml: rgb(119, 217, 251);
$elixir: rgb(110, 74, 126);
$objective-c: rgb(68, 142, 255);
$ruby: rgb(112, 21, 22);
$brainfuck: rgb(47, 37, 48);
$go: rgb(55, 94, 171);
$visual_basic: rgb(149, 94, 184);
$php: rgb(79, 93, 149);
$java: rgb(176, 114, 25);
$makefile: rgb(66, 120, 25);
$coffeescript: rgb(36, 71, 119);
$html: rgb(228, 75, 35);
$api_blueprint: rgb(42, 204, 168);
$swift: rgb(255, 172, 69);
$c: rgb(85, 85, 85);
$rust: rgb(222, 165, 132);
$elm: rgb(96, 181, 204);
$asp: rgb(106, 64, 252);
$csharp: rgb(23, 134, 0);
$css: rgb(86, 61, 124);
$lolcode: rgb(204, 153, 0);
$fsharp: rgb(184, 69, 252);
$puppet: rgb(48, 43, 108);
$javascript: rgb(241, 224, 90);
$erlang: rgb(184, 57, 152);
$python: rgb(53, 114, 164);
$julia: rgb(162, 112, 186);
$haskell: rgb(41, 181, 68);
$io: rgb(170, 24, 141);
$cpp: rgb(244, 75, 126);
