// ==================================================================
// Global variables
// ==================================================================

//
// Namespaces
///
$scales-base-class-namespace: 'b-';
$scales-components-class-namespace: 'c-';
$scales-objects-class-namespace: 'o-';
$scales-utilities-class-namespace: 'u-';

//
// Reset
///
$selection-bg-color: $blue;

//
// Type
///
$base-font-size: 1.1rem;
$system-body-fonts: false;
$system-heading-fonts: false;
$body-font-stack: freight-sans-pro, Helvetica, 'Helvetica Neue', Arial, sans-serif;
$heading-font-stack: quatro-slab, Garamond, 'Hoefler Text', 'Times New Roman', Times, serif;
$heading-font-weight: 500;

//
// Forms
///
$text-input-border-color: $grey-light;
$text-input-border-width: 2px;

//
// Buttons
///
$btn-text-color: $white;
$btn-background-color: $blue;
$btn-hover-text-color: $white;
$btn-hover-background-color: $blue-dark;
$btn-padding: .5em 3em;
