<article class="c-ProjectCard" data-lang="#language-color">
  <header class="c-ProjectCard__header">
    <h3 class="b-Gamma">
      <a class="c-ProjectCard__heading" href="#project">#title</a>
    </h3>
    <div class="c-ProjectCard__tags">
      <span class="c-Tag">#language</span>
      <span class="c-Tag">#type</span>
    </div>
  </header>

  <p class="c-ProjectCard__body">#description</p>
  <p class="u-DisplayNone">#keywords</p>

  <footer class="c-ProjectCard__footer">
    <a class="c-ProjectCard__button c-Button #displayNoneUtility" href="#projectURL">Project</a>
    <a class="c-ProjectCard__button c-Button" href="#repoURL">Repo</a>
  </footer>
</article>
