<article class="project--card">
  <h4 class="project--title"><a href="#href">#title</a></h4>

  <figure class="project--banner">
    <img src="#logo" alt="Placeholder image" />
    <figcaption class="project--title">#title</figcaption>
  </figure>

  <p class="project--desc">#description</p>

  <div class="project--keywords">#keywords</div>

  <footer class="project--link"><a href="#href">View Project</a></footer>
</article>
